[submodule "software/ros-packages/camera_umd"]
	path = software/ros-packages/camera_umd
	url = https://github.com/ktossell/camera_umd.git
[submodule "software/ros-packages/viso2"]
	path = software/ros-packages/viso2
	url = https://github.com/srv/viso2.git
