<launch>
    <node name="uvc_cam_arm" pkg="uvc_camera" type="uvc_camera_node" output="screen" ns="armCam">
		<param name="device" value="/dev/video2" />
		<param name="fps" value="20.0" />	
		<param name="width" value="640" />
		<param name="height" value="480" />
		<param name="frame_id" value="frame" />
		<param name="skip_frames" value="1.0" />
    </node>
</launch>
